@import url("https://fonts.googleapis.com/css?family=Signika+Negative|Sawarabi+Gothic");

.Phoneme {
    font-family: 'Signika Negative', sans-serif;
    display: inline-block;
    padding: 24px;
    font-size: 150px;
    color: dodgerblue;
    background-color: lightyellow;
    text-align: center;
    margin: 6px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 10px 8px #888888;
    cursor: pointer;
}


.choice {
    font-family: 'Signika Negative', sans-serif;
    display: inline-block;
    padding: 16px;
    font-size: 24px;
    color: black;
    background-color: lightgray;
    text-align: center;
    margin: 6px;
    border: 2px solid black;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 8px;
    cursor: pointer;

}
.chosenBeg {
    font-family: 'Signika Negative', sans-serif;
    display: inline-block;
    padding: 16px;
    font-size: 24px;
    text-align: center;
    margin: 6px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 10px 8px #888888;
    cursor: pointer;
    background-color: lightgreen;
    color: black;
}

.chosenMid {
    font-family: 'Signika Negative', sans-serif;
    display: inline-block;
    padding: 16px;
    font-size: 24px;
    text-align: center;
    margin: 6px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 10px 8px #888888;
    cursor: pointer;
    background-color: lightsalmon;
    color: black;
}

.chosenEnd {
    font-family: 'Signika Negative', sans-serif;
    display: inline-block;
    padding: 16px;
    font-size: 24px;
    text-align: center;
    margin: 6px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 10px 8px #888888;
    cursor: pointer;
    background-color: plum;
    color: black;
}
.allBeg {
    font-family: 'Signika Negative', sans-serif;
    display: inline-block;
    padding: 16px;
    font-size: 24px;
    text-align: center;
    margin: 6px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 10px 8px #888888;
    cursor: pointer;
    background-color: lightgreen;
    color: black;
}
.allMid {
    font-family: 'Signika Negative', sans-serif;
    display: inline-block;
    padding: 16px;
    font-size: 24px;
    text-align: center;
    margin: 6px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 10px 8px #888888;
    cursor: pointer;
    background-color: lightsalmon;
    color: black;
}
.allEnd {
    font-family: 'Signika Negative', sans-serif;
    display: inline-block;
    padding: 16px;
    font-size: 24px;
    text-align: center;
    margin: 6px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 10px 8px #888888;
    cursor: pointer;
    background-color: plum;
    color: black;
}
