.Students {
    text-align: center;
}
.Student {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.7rem;
    width: 40%;
    display: block;
    height: 60px;
    color: black;
    background-color: lightgray;
    text-align: center;
    margin: 10px auto;
    border: 2px solid black;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 8px;
    cursor: pointer;

}
.chosen {
    font-family: 'Signika Negative', sans-serif;
    display: inline-block;
    font-size: 1.7rem;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 6px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #888888;
    cursor: pointer;
    background-color: lightgreen;
    color: black;
}